@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
    --main-color: #027581;
    --main-gradient: linear-gradient(to right, #f7506d, #f98046);
    --color-dark: #1d2231;
    --text-grey: #8390a2;
    --front-bg: #f2f1f5;
    --front-color: #f7506d;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-size: small;
}

/* main css */
button {
    cursor: pointer;
    outline: none;
  }
.btn {
padding: 0.6rem 1.5rem;
border-radius: 4px;
height: 40px;
border: 1px solid var(--main-gradient);
}
.btn-main-gradient,
.bg-main-gradient, .register {
  background: var(--main-gradient) !important;
  color: #fff !important;
}
.btn-main,
.bg-main {
  background: var(--main-color) !important;
  color: #fff !important;
}

.btn-block {
  width: 100%;
  display: block;
}
  
body{
  background: var(--front-bg);
}
.front-wrapper {
    min-height: 100vh;
    background: var(--front-bg);
}
.front-sidebar .front-sidemenu li img {
    filter: invert(31%) sepia(9%) saturate(9%) hue-rotate(12deg) brightness(98%)
        contrast(87%);
}
.front-sidebar .front-sidemenu li.active {
    background: var(--main-gradient);
}
.front-sidebar .front-sidemenu li.active img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
        brightness(102%) contrast(102%);
}
.front-header {
    left: 150px;
    top: 20px;
    right: 40px;
  }

/* navBar */
.front-header nav .front-search input {
    border: none;
    outline: none;
    padding: 1rem 1.4rem;
    border-left: 1px solid var(--text-grey);
  }
  .front-header nav .front-nav-links div:first-child a,
  .front-header nav .front-nav-links div:first-child button {
    display: inline-block;
    margin: 0rem 0.5rem;
    font-size: 1.03rem;
    font-weight: 600;
    color: #555;
    text-transform: uppercase;
  }
  .front-header nav .front-nav-links div:first-child button {
    background: none;
    border: none;
    outline: none;
  }
  .front-header nav .front-nav-links div:last-child {
    margin-left: 1.5rem;
  }
  .front-header nav .front-nav-links div:last-child button {
    padding: 0.6rem 1rem;
  }
  .front-header nav .front-nav-links div:last-child span:first-child {
    font-size: 1.3rem;
  }
  .front-header nav .front-nav-links div:last-child span:last-child {
    font-size: 0.8rem;
  }

  /* main user content */
  .front-main {
    top: 120px;
    left: 150px;
    right: 40px;
    height: 80vh;
    position: relative;
  }
  .front-main .main-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 80vh;
  }
  .front-main .main-grid h3 {
    font-weight: 500;
  }
  .front-main .main-grid .menu-section {
    height: 80vh;
    overflow-y: auto;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
  .front-main .main-grid .menu-section::-webkit-scrollbar {
    width: 7px;
  }
  .front-main .main-grid .menu-section::-webkit-scrollbar-track {
    background: var(--text-grey);
  }
  .front-main .main-grid .menu-section::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
  }
  .front-main .main-grid .menu-section::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
  .front-main .main-grid .menu-section h3 {
    margin-bottom: 1.3rem;
  }
  .front-main .main-grid .menu-section .menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  .front-main .main-grid .menu-section .menu-grid .menu-card {
    height: 182px;
    border-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    position: relative;
    overflow-y: hidden;
  }
  .front-main .main-grid .menu-section .menu-grid .menu-card .item-name,
  .front-main .main-grid .menu-section .menu-grid .menu-card .item-price {
    padding: 0.3rem 1rem;
    border-radius: 3px;
    display: inline-block !important;
    font-size: 0.85rem;
    font-weight: 700;
  }
  .front-main .main-grid .menu-section .menu-grid .menu-card .item-price {
    margin-bottom: 0.5rem;
  }
  .front-main .main-grid .menu-section .menu-grid .menu-card .item-name {
    background: #fff;
  }
  .front-main .main-grid .menu-section .menu-grid .menu-card button {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 300ms;
  }
  .front-main .main-grid .menu-section .menu-grid .menu-card:hover button {
    bottom: 15px;
  }
  .front-main .main-grid .cart-section {
    padding-left: 1rem;
    height: 80vh;
    overflow-y: auto;
  }
  .front-main .main-grid .cart-section::-webkit-scrollbar {
    width: 7px;
  }
  .front-main .main-grid .cart-section::-webkit-scrollbar-track {
    background: var(--text-grey);
  }
  .front-main .main-grid .cart-section::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
  }
  .front-main .main-grid .cart-section::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
  .front-main .main-grid .cart-section .cart-card .cart-header {
    background: var(--main-gradient);
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 8px 8px 0px 0px;
  }
  .front-main .main-grid .cart-section .cart-card .cart-header small {
    color: #efefef;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-items {
    padding: 0rem 0.5rem;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item:last-child {
    border-bottom: none;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-info {
    display: flex;
    align-items: center;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-info span {
    padding-right: 1rem;
    color: #f7506d;
    font-size: 1.03rem;
    cursor: pointer;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls {
    display: flex;
    align-items: center;
    border: 1px solid var(--front-color);
    border-radius: 6px;
    overflow-y: hidden;
    height: 33px;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input {
    border: none;
    outline: none;
    height: 33px;
    width: 33px;
    text-align: center;
    background: transparent;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div {
    display: flex;
    flex-direction: column;
    background: var(--main-gradient);
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div span {
    height: 49.5%;
    background: var(--main-gradient);
    color: #fff;
    padding: 0rem 0.23rem;
    cursor: pointer;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div span:first-child {
    border-bottom: 1px solid #fff;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div span:last-child {
    border-top: 1px solid #fff;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum {
    padding: 1.5rem;
    background: #fff;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-address .price-flex p {
    font-size: 0.82rem;
    color: #333;
    font-weight: 500;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-address .price-flex button {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-left: 1rem;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .price-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .price-flex small {
    color: var(--text-grey);
    font-weight: 600;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .price-flex:last-child h4 {
    color: var(--front-color);
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-pay-btn {
    margin-top: 1.2rem;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-pay-btn .button {
    background: #24b056;
    color: #fff;
    font-size: 1rem;
    height: auto;
    display: block;
    width: 100%;
  }
  .front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-pay-btn button span {
    padding-right: 1rem;
  }
  
  /***/
  /***/
/* Admin */
.admin{
  background: var(--front-bg);
}

.backdrop{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000;
}
.modal{
  width: clamp(50%, 700px, 90%);
  height: 80%;
  background-color: #fff;
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: hidden !important;
  z-index: 1000;
}

@media only screen and (max-width: 1200px) {
  .main-grid {
    grid-template-columns: 100% !important;
  }
  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
.sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
.sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}
@media only screen and (max-width: 960px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media only screen and (max-width: 860px) {
  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }

  .activity-grid {
    display: block;
  }

  .summary {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .dash-cards {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}