@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --main-color: #027581;
  --main-gradient: linear-gradient(to right, #f7506d, #f98046);
  --color-dark: #1d2231;
  --text-grey: #8390a2;
  --front-bg: #f2f1f5;
  --front-color: #f7506d;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* 
    Main app Styles
*/
button {
  cursor: pointer;
  outline: none;
}

.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  height: 40px;
  border: 1px solid var(--main-gradient);
}

.btn-main-gradient,
.bg-main-gradient {
  background: var(--main-gradient) !important;
  color: #fff !important;
}

.btn-main,
.bg-main {
  background: var(--main-color) !important;
  color: #fff !important;
}

.btn-block {
  width: 100%;
  display: block;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group label:first-child {
  width: 100%;
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
}

.form-control {
  height: 40px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  outline: none;
  color: #333;
}

.front-wrapper,
.account-wrapper {
  min-height: 100vh;
  background: var(--front-bg);
}

.account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
.account-wrapper .role-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.account-wrapper .role-grid .role {
  display: flex;
  align-items: center !important;
}
.account-wrapper .role-grid .role input[type=radio] {
  display: none;
}
.account-wrapper .role-grid .role input[type=radio] + label span {
  display: inline-block !important;
  height: 15px !important;
  width: 15px !important;
  padding: 0rem !important;
  border: 2px solid var(--front-color);
  cursor: pointer;
  border-radius: 50%;
}
.account-wrapper .role-grid .role input[type=radio]:checked + label span {
  background: var(--main-gradient);
  border: 2px solid var(--front-bg);
}
.account-wrapper .role-grid .role span:first-child {
  padding-right: 1rem;
  font-size: 0.8rem;
  color: #333;
  font-weight: 500;
}
.account-wrapper .account-header {
  text-align: center !important;
}
.account-wrapper .account-header h3 {
  width: 100%;
  font-size: 2.8rem;
  text-align: center !important;
}
.account-wrapper .account-header h3 span {
  color: var(--front-color);
}
.account-wrapper .account-header small {
  font-size: 1rem;
  color: #444;
  font-weight: 600;
}
.account-wrapper .account-tabs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0rem;
}
.account-wrapper .account-tabs button {
  background: #fff;
  color: var(--text-grey);
  text-transform: uppercase;
  border: none;
  padding: 0.6rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 3px solid #efefef;
}
.account-wrapper .account-tabs button.is-active {
  border-bottom: 3px solid var(--front-color);
}
.account-wrapper .account-form-wrapper {
  width: 400px;
}
.account-wrapper .account-form-wrapper .account-form {
  padding: 0.6rem 0rem;
}
.account-wrapper .account-form-wrapper .account-form h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 1rem;
}
.account-wrapper .account-form-wrapper .account-form button {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95rem;
}

.front-sidebar {
  width: 110px;
  height: 100%;
  height: 100;
  padding: 1rem 1rem;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.front-sidebar .brand {
  text-align: center;
}
.front-sidebar .brand h1 {
  color: var(--front-color);
  font-size: 3rem;
}
.front-sidebar .front-sidemenu {
  margin-top: 1.4rem;
}
.front-sidebar .front-sidemenu li {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.3rem;
  cursor: pointer;
}
.front-sidebar .front-sidemenu li h3 {
  color: var(--front-color);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.front-sidebar .front-sidemenu li img {
  width: 40px !important;
  filter: invert(31%) sepia(9%) saturate(9%) hue-rotate(12deg) brightness(98%) contrast(87%);
}
.front-sidebar .front-sidemenu li.active {
  background: var(--main-gradient);
  padding: 0.5rem;
  border-radius: 8px;
}
.front-sidebar .front-sidemenu li.active h3 {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 0rem;
}
.front-sidebar .front-sidemenu li.active img {
  width: 30px !important;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.front-header {
  /* position: fixed;
  left: 150px;
  top: 20px;
  right: 40px;
  padding: 1.3rem 1.8rem;
  background: #fff;
  border-radius: 8px;
  width: calc(100% - 190px);
  z-index: 100; */
}
.front-header nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.front-header nav h3 {
  /* font-size: 1.6rem; */
}
/* .front-header nav h3 + small {
  display: block !important;
  margin-top: -3px;
} */
.front-header nav .front-search {
  /* display: flex;
  align-items: center; */
}
.front-header nav .front-search span {
  /* padding: 1rem 1.4rem; */
  /* font-size: 1.5rem; */
}
.front-header nav .front-search input {
  /* border: none;
  outline: none;
  height: 40px;
  flex: 1;
  padding: 1rem 1.4rem;
  border-left: 1px solid var(--text-grey); */
}
.front-header nav .front-nav-links {
  display: flex;
  align-items: center;
}
.front-header nav .front-nav-links div:first-child a,
.front-header nav .front-nav-links div:first-child button {
  display: inline-block;
  margin: 0rem 0.5rem;
  font-size: 1.03rem;
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
}
.front-header nav .front-nav-links div:first-child button {
  background: none;
  border: none;
  outline: none;
}
.front-header nav .front-nav-links div:last-child {
  margin-left: 1.5rem;
}
.front-header nav .front-nav-links div:last-child button {
  padding: 0.6rem 1rem;
}
.front-header nav .front-nav-links div:last-child span:first-child {
  font-size: 1.3rem;
}
.front-header nav .front-nav-links div:last-child span:last-child {
  font-size: 0.8rem;
}

.front-main {
  margin-left: 150px;
  top: 140px;
  height: 80vh;
  width: calc(100% - 190px);
  position: relative;
}
.front-main .main-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 80vh;
}
.front-main .main-grid h3 {
  font-weight: 500;
}
.front-main .main-grid .menu-section {
  height: 80vh;
  overflow-y: auto;
  padding-bottom: 1rem;
  padding-right: 1rem;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.front-main .main-grid .menu-section::-webkit-scrollbar {
  width: 7px;
}
.front-main .main-grid .menu-section::-webkit-scrollbar-track {
  background: var(--text-grey);
}
.front-main .main-grid .menu-section::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}
.front-main .main-grid .menu-section::-webkit-scrollbar-thumb:hover {
  background: #444;
}
.front-main .main-grid .menu-section h3 {
  margin-bottom: 1.3rem;
}
.front-main .main-grid .menu-section .menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.front-main .main-grid .menu-section .menu-grid .menu-card {
  height: 250px;
  border-radius: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  position: relative;
  overflow-y: hidden;
}
.front-main .main-grid .menu-section .menu-grid .menu-card .item-name,
.front-main .main-grid .menu-section .menu-grid .menu-card .item-price {
  padding: 0.3rem 1rem;
  border-radius: 3px;
  display: inline-block !important;
  font-size: 0.85rem;
  font-weight: 700;
}
.front-main .main-grid .menu-section .menu-grid .menu-card .item-price {
  margin-bottom: 0.5rem;
}
.front-main .main-grid .menu-section .menu-grid .menu-card .item-name {
  background: #fff;
}
.front-main .main-grid .menu-section .menu-grid .menu-card button {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 300ms;
}
.front-main .main-grid .menu-section .menu-grid .menu-card:hover button {
  bottom: 15px;
}
.front-main .main-grid .cart-section {
  padding-left: 1rem;
  height: 80vh;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.front-main .main-grid .cart-section::-webkit-scrollbar {
  width: 7px;
}
.front-main .main-grid .cart-section::-webkit-scrollbar-track {
  background: var(--text-grey);
}
.front-main .main-grid .cart-section::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}
.front-main .main-grid .cart-section::-webkit-scrollbar-thumb:hover {
  background: #444;
}
.front-main .main-grid .cart-section .cart-card .cart-header {
  background: var(--main-gradient);
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 8px 8px 0px 0px;
}
.front-main .main-grid .cart-section .cart-card .cart-header small {
  color: #efefef;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-items {
  padding: 0rem 0.5rem;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item:last-child {
  border-bottom: none;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-info {
  display: flex;
  align-items: center;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-info span {
  padding-right: 1rem;
  color: #f7506d;
  font-size: 1.03rem;
  cursor: pointer;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls {
  display: flex;
  align-items: center;
  border: 1px solid var(--front-color);
  border-radius: 6px;
  overflow-y: hidden;
  height: 33px;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input {
  border: none;
  outline: none;
  height: 33px;
  width: 33px;
  text-align: center;
  background: transparent;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div {
  display: flex;
  flex-direction: column;
  background: var(--main-gradient);
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div span {
  height: 49.5%;
  background: var(--main-gradient);
  color: #fff;
  padding: 0rem 0.23rem;
  cursor: pointer;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div span:first-child {
  border-bottom: 1px solid #fff;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-item .cart-controls input + div span:last-child {
  border-top: 1px solid #fff;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum {
  padding: 1.5rem;
  background: #fff;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-address .price-flex p {
  font-size: 0.82rem;
  color: #333;
  font-weight: 500;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-address .price-flex button {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem;
  margin-left: 1rem;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .price-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .price-flex small {
  color: var(--text-grey);
  font-weight: 600;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .price-flex:last-child h4 {
  color: var(--front-color);
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-pay-btn {
  margin-top: 1.2rem;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-pay-btn button {
  background: #24b056;
  color: #fff;
  font-size: 1rem;
  height: auto;
  display: block;
  width: 100%;
}
.front-main .main-grid .cart-section .cart-card .cart-body .cart-sum .cart-pay-btn button span {
  padding-right: 1rem;
}

/***
    Modal
***/
/* Modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 92%;
  max-width: 380px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.modal-header h4 {
  margin-top: 0;
  color: var(--text-grey);
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.4rem;
}

.modal-body {
  margin: 20px 0;
  max-height: 400px !important;
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  background: var(--main-dark);
  border-radius: 8px;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ***
    Admin styles
* ***/
.admin-login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-login-wrapper .admin-form-wrapper {
  padding: 1rem;
  width: 400px;
}
.admin-login-wrapper .admin-form-wrapper h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 1rem;
  text-align: center;
}
.admin-login-wrapper .admin-form-wrapper button {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95rem;
}
.admin-login-wrapper .admin-form-wrapper .form-link {
  text-align: center;
}
.admin-login-wrapper .admin-form-wrapper .form-link a {
  color: #555 !important;
  font-weight: 500;
  text-decoration: underline;
}

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
}

.sidebar a {
  color: #fff;
  font-size: 0.8rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
}

.dash-title {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.dash-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1.4rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 1rem;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.card-footer {
  padding: 0.2rem 1rem;
  background: #f9fafc;
}

.card-footer a {
  color: var(--main-color);
}

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.activity-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
  background: #fff;
  border-radius: 7px;
}

.activity-card h3 {
  color: var(--text-grey);
  margin: 1rem;
}

.activity-card table {
  width: 100%;
  border-collapse: collapse;
}

.activity-card thead {
  background: #efefef;
  text-align: left;
}

th,
td {
  font-size: 0.9rem;
  padding: 1rem 1rem;
  color: var(--color-dark);
}

td {
  font-size: 0.8rem;
}

tbody tr:nth-child(even) {
  background: #f9fafc;
}

.badge {
  padding: 0.2rem 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.7rem;
}

.badge.success {
  background: #def7ec;
  color: var(--main-color);
}

.badge.warning {
  background: #f0f6b2;
  color: orange;
}

.td-team {
  display: flex;
  align-items: center;
}

.img-1,
.img-2,
.img-3 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-left: -15px;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
}

.summary-card {
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.summary-single {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.summary-single span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1rem;
}

.summary-single h5 {
  color: var(--main-color);
  font-size: 1.1rem;
  margin-bottom: 0rem !important;
}

.summary-single small {
  font-weight: 700;
  color: var(--text-grey);
}

.bday-flex {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.bday-card {
  padding: 1rem;
}

.bday-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid #efefef;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.7rem;
}

.text-center {
  text-align: center;
}

.text-center button {
  background: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 0.4rem 1rem;
}

.table-responsive {
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
  .main-grid {
    grid-template-columns: 100% !important;
  }

  .cart-section {
    position: fixed;
    padding-left: 0rem !important;
    right: 0;
    top: 0;
    bottom: 0 !important;
    height: 100% !important;
    z-index: 120;
    background: #fff;
  }
  .cart-section .cart-card {
    background: #fff;
    height: 100% !important;
  }

  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar-header h3 span,
.sidebar li span:last-child {
    display: none;
  }

  .sidebar .sidebar-header,
.sidebar li {
    display: flex;
    justify-content: center;
  }

  .main-content {
    margin-left: 60px;
  }

  .main-content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar-toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: inline;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }

  #sidebar-toggle:checked ~ .sidebar li {
    display: block;
  }

  #sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
  }

  #sidebar-toggle:checked ~ .main-content header {
    left: 60px;
  }
}
@media only screen and (max-width: 960px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media only screen and (max-width: 860px) {
  .dash-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-single {
    margin-bottom: 1rem;
  }

  .activity-grid {
    display: block;
  }

  .summary {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .dash-cards {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}